.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
  border-radius: 8px;
}

h1 {
  margin-bottom: 0.5rem;
}

.status {
  margin-top: 2rem;
  font-size: 1.2rem;
}
